---
import Header from "../components/Header.astro";
import "../styles/global.css";
import { Image } from "astro:assets";
const { pageTitle } = Astro.props;
---

<!-- <html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <h1>{pageTitle}</h1>
    <slot />
  </body>
</html> -->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <ul class="nav-links">
          <a class="logo" href="/">DEADLOCKDATA</a>
          <a href="/meta">Meta</a>
          <a href="/trends">Trends</a>
          <a href="/matches">Matches</a>
          <a href="/leaderboard">Leaderboard</a>
        </ul>
        <a class="steam" href="/players">
          <img
            src="/src/steam_logo.png"
            alt="Steam Logo"
            width="25"
            height="20"
            style="display: block; padding-right: 5px;"
          />
          <span>PlayerSteamName</span>
        </a>
      </nav>
    </header>
    <div class="container">
      <h1>{pageTitle}</h1>
      <slot />
    </div>
  </body>
</html>
